footer{
    display:flex;
    align-items: center;
    padding-left:20px;
    justify-content: center;
}
.logo{
    font-family:playfair display;
    font-size:34px;
    flex:1;
    flex-basis:25%;
}
.logo h3{
    overflow:hidden;
}
.list{
    display:flex;
    overflow:hidden;
    margin-left:0px;
    flex-basis:50%;
}
@media (max-width:835px) {
    .list{
        display:none;
    }
    .social-list{
        flex:1;
        width:100%;
        gap:25px;
    }
    .logo{
        flex-basis: 50%;;
    }
}
.list li{
    padding-right:80px;
    font-size:16px;
    font-family:inter;
    text-transform:uppercase;
    cursor:pointer;
    overflow:hidden
}
.social-list{
    position:relative;
    display: flex;
    background-color: black;
    width:100%;
    flex-basis:25%;
    padding:25px 0;
    align-items: center;
    justify-content: space-evenly;
    gap:35px;
}
/* .social-list img{
    position: absolute;
}
.social-list img:nth-last-of-type{
    right:0;
} */